.square{
    width:100px;
    height:100px;
}

.middlec{
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.middler{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

.x {
	background-image: url(/Users/tech-a60/homework/tic-tac-toe/images/x.png);
	background-size: 100px 100px;
}

.o {
	background-image:url(/Users/tech-a60/homework/tic-tac-toe/images/o.png);
	background-size: 100px 100px;
}

table{
	table-layout: fixed;
}