.square{
    width:100px;
    height:100px;
}

.middlec{
    border-left:1px solid;
    border-right:1px solid;
}

.middler{
    border-top:1px solid;
    border-bottom:1px solid;
}

.x {
	background-image: url(/Users/tech-a60/homework/tic-tac-toe/images/x.png);
	background-size: 100px 100px;
	background-repeat: no-repeat;
}

.o {
	background-image:url(/Users/tech-a60/homework/tic-tac-toe/images/o.png);
	background-size: 100px 100px;
	background-repeat: no-repeat;
}

table{
	table-layout: fixed;
}

h3{
	margin: 0 auto;
	height: 80px;
	text-align: center;
}



